.navbar-container {
    background-color: var(--semantic-background-color-primary);
    border-bottom: 1px solid var(--semantic-border-primary);
    height: 111px;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items at the start of the container */
    padding: 0 20px;
    box-sizing: border-box;
    gap: 0; /* Ensure no gap between logo and content */
}

.navbar-logo {
    height: 90px; 
    width: auto;
    margin-right: 0; /* Remove any margin here */
    padding-right: 735px; /* Add padding to the right */
}

.navbar-content {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between content items */
    margin-left: 0; /* Ensure no margin on the left */
    padding-left: 0; /* Remove any padding on the left */
}

.navbar-links {
    display: flex;
    gap: 20px; 
    align-items: center;
}

.navbar-link {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navbar-link-text {
    color: var(--semantic-link-primary);
    font-family: "Roboto", Helvetica;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    white-space: nowrap;
    transition: color 0.3s ease;
}

.navbar-link-text:hover {
    color: var(--semantic-link-hover); 
}

.navbar-actions {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
}

.navbar-signup-button {
    background-color: var(--semantic-button-primary);
    color: var(--semantic-button-text);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar-signup-button:hover {
    background-color: var(--semantic-button-hover);
}
